<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="../static/loginstyle.css">
</head>

<body>

<div class="container">
    <div class="section1">
        <h1 id="title">Login Page</h1>
    </div>
    <div class="section2">
        <label for="username">
            <b>Username</b>
            <input type="text" placeholder="Enter Username" name="username" id="username" required="true">
        </label>
    </div>
    <div class="section3">
        <label for="password">
            <b>Password</b>
            <input type="password" placeholder="Enter Password" name="password" id="password" required="true">
        </label>
    </div>
    <div class="section4">
        <button id="loginButton" type="submit">Login</button>
    </div>
</div>
<script src="../static/login.js"></script>

</body>
</html>